extends layout

block content
  #content-wrapper
    #map-canvas.map-canvas
    #main-interface.main-interface
      button#undo-point.undo-point Undo Last Pin-Drop
      button#log-path.log-path Log Path
      button#check-against-map.check-against-map Check Against Map
      //- input.address-street(placeholder='Street Address')
      ul#path-log.path-log
