extends layout

block content
  #content-wrapper
    #map-canvas.map-canvas
    #main-interface.main-interface
      button#undo-point.undo-point Undo Last Pin-Drop
      button#log-path.log-path Log Path
      button#check-against-map.check-against-map Check Against Map
      button#see-json.see-json(onclick='location.href="/data"') See JSON Data
      .path-log Path Log:
        ul#path-log.path-log
      .check-map-log Homes within Polygon:
        ul#check-map-log.check-map-log
