extends layout

block content
  #content-wrapper
    #map-canvas.map-canvas
    #main-interface.main-interface
      button#undo-point.undo-point Undo Last Pin-Drop
      button#enable-drag.enable-drag Enable Drag
      button#disable-drag.disable-drag Disable Drag
      input.address-street(placeholder='Street Address')
