extends layout

block content
  #content-wrapper
    #map-canvas.map-canvas
    #main-interface.main-interface
      script.
        var minPriceOutput = '#min-price-output'
        var maxPriceOutput = '#max-price-output'
        function outputUpdate(price, id) { document.querySelector(id).value = `$${price}`}
      button#show-homes Show Homes Inside Polygon
      button#undo-point.undo-point Undo Last Pin-Drop
      button#log-addresses.log-addresses Log Home Addresses
      button#log-lat-lng.log-lat-lng Log Home Coordinates
      button#log-path.log-path Log Polygon Coordinates
      button#new-poly.log-path New Polygon

      button#see-json.see-json(onclick='location.href="/data"') See JSON “Database”
      .price-range
        label(for='min-price') Min Price
        input.price-filter(id='min-price' type='range' min='0' max='1500000' step='100' value='0' oninput='outputUpdate(value, minPriceOutput)')
        .price-output
          output.price-output(for='min-price' id='min-price-output') $0
        label(for='max-price') Max Price
        input.price-filter(id='max-price' type='range' min='0' max='1500000' step='100' value='1500000' oninput='outputUpdate(value, maxPriceOutput)')
        .price-output
          output.price(for='max-price' id='max-price-output') $1500000
      .path-log.logger Polygon Coordinates:
        ul#path-log.path-log
      .addresses-log.logger Addresses Inside Polygon, Within Price Range:
        ul#addresses-log.addresses-log
      .lat-lng-log.logger Coordinates Inside Polygon, Within Price Range:
        ul#lat-lng-log
