doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pure.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCWQem0YelvbJo0bzZdqWzRqwz_Z84rTGw')
    script(src='/javascripts/app.js')
  body
    block content
