html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

#content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

#map-canvas {
  height: 100%;
  width: 75%;
}

#main-interface {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  min-width: 25%;
}

.price-filter {
  width: 100%;
}

.price-output {
  margin-bottom: 15px;
  min-width: 100%;
}

.button-secondary {
  background: rgb(66, 184, 221);
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

